$font-primary: (
	font-family: (
		Inter,
		serif
	),
	load: true,
	weights: (
		'Regular': 400,
		'SemiBold': 600
	),
	path: '~assets/fonts',
	files: (
		'woff2',
		'ttf'
	),
	use: (
		'p',
		'body'
	),
	types: (
		'normal'
	)
);
